body {
    background-color: #345;
    color: white;
}
div {
   /* border: 3px solid #777;*/
    
}

.paper{
   /* border: 5px solid green;*/
    width: 700px;
    margin: 20px auto;
}
.paper .clear{
   clear: both;
}
.paper .photo{
    width: 700px;
    height: 700px;
    box-sizing: border-box;
    border: 20px solid white;
    background-image: url(https://i.picsum.photos/id/947/700/700.jpg?hmac=cfKyGahzZTdgZVbGD44eCW08c0590d2FHr8pQ71Dbk0);
}
.paper .photo .gradient-shadow {
     
     width: 660px;
     height: 660px;
     background-image: radial-gradient( rgba(255, 255, 255, 0.178), rgba(0, 0, 0, 0.795));
}

.paper .shadow-top-left,
.paper .shadow-top-right,
.paper .shadow-bottom-left,
.paper .shadow-bottom-right {
    height: 20px;
    width: 350px;
    float: left;
    box-sizing: border-box;
  /*  border: 3px solid red;*/
}
.paper .shadow-top-left {
    
    transform: 
       translateY(29px) 
       rotate(3deg);
   
    box-shadow: 15px -10px 15px 10px #171717;
    position: relative;
    z-index: -1;
}
.paper .shadow-top-right {
    
    transform: 
       translateY(29px) 
       rotate(-3deg);
   
    box-shadow: -15px -10px 15px 10px #171717;
    position: relative;
    z-index: -1;
}
.paper .shadow-bottom-left {
    transform: 
    translateY(-29px) 
    rotate(-3deg);

 box-shadow: 15px 10px 15px 10px #171717;
 position: relative;
 z-index: -1;
}
.paper .shadow-bottom-right{
    transform: 
    translateY(-29px) 
    rotate(3deg);

 box-shadow: -15px 10px 15px 10px #171717;
 position: relative;
 z-index: -1;
}